.accordion-button {
  background: black;
  color: white;
  border-radius: 0;
  border-image: linear-gradient(to right, rgb(54, 99, 216), rgb(119, 190, 255))
    1 / 1 / 0 stretch;
  padding: 30px 75px 30px 30px;
  margin: 5px 0;
  text-align: left;
  width: 100%;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-button:hover {
  color: rgb(54, 99, 216);
}

.accordion-button:not(.collapsed) {
  background: linear-gradient(
    170deg,
    rgb(54, 99, 216) 0%,
    rgb(119, 190, 255) 100%
  );
  color: white;
}

.accordion-body {
  background: black;
  color: rgb(212, 214, 215);
  font-family: "Jost", sans-serif;
}

.accordion-button:not(.collapsed):hover {
  color: white;
}

.accordion {
  --bs-accordion-border-width: 0;
}
